<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>544986797469-lbco0pr53cm7g8ofv9uhuen93p7mm4n0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.544986797469-lbco0pr53cm7g8ofv9uhuen93p7mm4n0</string>
	<key>API_KEY</key>
	<string>AIzaSyDonO5Bd8ngR3yWpHEqkkXAJyYKkRSag5Y</string>
	<key>GCM_SENDER_ID</key>
	<string>544986797469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ewen.Journal-App</string>
	<key>PROJECT_ID</key>
	<string>firestore-journal-app-ff5e6</string>
	<key>STORAGE_BUCKET</key>
	<string>firestore-journal-app-ff5e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:544986797469:ios:4de087fd0d82bb7a428b74</string>
</dict>
</plist>